@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root {
    --praimryColor: #bb9262;
    --backgorundColor: #f3f3f3;
    --mainTextColor: color: rgb(36, 36, 36);
    --subTextColor: #bb9262;
    --paraColor: 797979;
    --buttonColor: #bb9262;
    --shadowColor: rgba(48, 48, 48, 0.2);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body {
    background: image('./images/food.jpeg');
    background-color: var(--backgorundColor);
    font-family: 'Poppins' , sans-serif;
}
.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    grid-gap: 20px 40px;
}
.heading {
    background: var(--praimryColor);
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/ -1;
    text-align: center;
}
.heading>h1 {
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.heading>h3 {
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}
.food-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadowColor);
    transition: .2s ease-in-out;
}
.food-items img {
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    border-bottom: 4px solid rgb(28, 28, 28);
    cursor: pointer;
}
.food-items.back {
    background: #e84343;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/ -1;
    text-align: center;
}
h1 {
    grid-column: 1/ -1;
    text-align: center;
}
.details {
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/ -1;
    text-align: center;
}
.details-sub {
    margin-top: 20px;
}
.details-sub>h5 {
    color: var(--mainTextColor);
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: -40px;
}
.details-sub h3 {
    font-family: "Cairo", sans-serif;
    color: var(--subTextColor);
    font-weight: 500;
    font-size: 32px;
    padding-top: 10px;
    margin-bottom: -30px;
}
.price {
    text-align: right;
}
.details>p {
    color: var(--paraColor);
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    align-self: stretch;
}
.details>button {
    background-color: var(--buttonColor);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
}
.details a {
    text-decoration: none;
    color: #fff;
}
.details .phone {
    font-family: "Cairo", sans-serif;
    text-decoration: none;
    color: var(--buttonColor);
}
